<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874278160954-nc3tjl95pusrnqo8tlatmo0vb4li5vkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874278160954-nc3tjl95pusrnqo8tlatmo0vb4li5vkd</string>
	<key>API_KEY</key>
	<string>AIzaSyBCeMhlum7TKS0JqnouyhnrUo22_Mr7asI</string>
	<key>GCM_SENDER_ID</key>
	<string>874278160954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.nftrecovery.fourthDimensionNetwork</string>
	<key>PROJECT_ID</key>
	<string>fourth-dimension-1</string>
	<key>STORAGE_BUCKET</key>
	<string>fourth-dimension-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874278160954:ios:54489472690a5823364303</string>
</dict>
</plist>